<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>学号</td>
            <td>姓名</td>
            <td>年龄</td>
        </tr>
        <% for(var i=0;i<stus.length;i++){%>
            <tr>
                <td><%= stus[i].id %></td>
                <td><%= stus[i].name %></td>
                <td><%= stus[i].age %></td>
            </tr>
        <%}%>
    </table>
</body>
</html>