查询条件: 
姓名:<input type="text" ng-model="name">
性别:<input type="text" ng-model="gender">
<table>
    <tr>
        <td><a href="javascript:;" ng-click="a('id')">学号</a></td>
        <td><a href="javascript:;" ng-click="a('name')">姓名</a></td>
        <td><a href="javascript:;" ng-click="a('age')">年龄</a></td>
        <td>性别</td>
        <td><a href="javascript:;" ng-click="a('score')">得分</a></td>
    </tr>
    <tr ng-repeat="user in users|orderBy:order|filter:{name:name,gender:gender}">
        <td>{{user.id}} </td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.score}}</td>
    </tr>
</table>