<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="">
        用户名: <input type="text" name="username"><br>
        <textarea cols="30" rows="10"></textarea><br>
        <input type="submit" value="提交">
    </form>
    <% for(var i=0;i<msg.length;i++){ %>
        <div>msg[i].username</div>
        <div>msg[i].pwd</div>
    <%}%>
</body>
</html>