<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <style>
    .bgc{
        background: red;
    }
    </style>
    <script src='../libs/angular.min.js'></script>
</head>
<body ng-app='app'>
    <ul ng-controller="ctrl">
        <li>
            <label><input type="checkbox">足球</label>
            <label><input type="checkbox" ng-checked="true">篮球</label>
            <label><input type="checkbox">排球</label>
        </li>
        <li>
            <img ng-src="{{path}}">
        </li>
        <li>
            <select ng-model="val">
                <option value="1">html</option>
                <option value="2">css</option>
                <option value="3">js</option>
            </select>
        </li>
        <li>
            <ul ng-switch="val">
                <li ng-switch-when="1"><ul><li>html初级</li><li>html中级</li><li>html高级</li></ul></li>
                <li ng-switch-when="2"><ul><li>css初级</li><li>css中级</li><li>css高级</li></ul></li>
                <li ng-switch-when="3"><ul><li>js初级</li><li>js中级</li><li>js高级</li></ul></li>
            </ul>
        </li>
        <li>{{num}},{{str}},{{obj}},{{arr}}</li>
        <li ng-repeat="k in arr track by $index" ng-hide="$index==2">
            <div ng-class="{bgc:$index==color}">{{k}}</div>
        </li>
    </ul>
</body>
<script>
    var app = angular.module('app', []);
    app.controller("ctrl",["$scope",function($scope){
        $scope.path = "../day03/g.jpg";
        $scope.num = 22;
        $scope.str = "abc";
        $scope.obj = {a:4,b:5};
        $scope.arr = ['b','a','bd','apple'];
        $scope.color = 1;
    }]);
</script>

</html>